<div id="container" class="avalonia-container" tabindex="0" oncontextmenu="return false;"
     ontouchstart="@OnTouchStart"
     ontouchend="@OnTouchEnd"
     ontouchcancel="@OnTouchCancel"
     ontouchmove="@OnTouchMove"
     onmousemove="@OnMouseMove"
     onmousedown="@OnMouseDown"
     onmouseup="@OnMouseUp"
     onwheel="@OnWheel"
     onkeydown="@OnKeyDown"
     onkeyup="@OnKeyUp">
    
    <canvas @ref="_htmlCanvas" @attributes="AdditionalAttributes"/>
    
    <input @ref="_inputElement"
           class="overlay"
           type="text"
           oninput="@OnInput"/>
</div>
